*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFDED; 
}
.container{
    margin: 0 150px;
}
.main-title{
    
    margin: 55px 615px;
    position: relative;
    width: 211px;
    height: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #753C20;

    border: solid #753C20;
    background-color: #7ef29d;
}
.block {
    display: flex;
    margin-bottom: 55px;
}
img{
    
    width: 400px;
    height: 300px;
    
}
.block-text {
    margin: 0 55px;
}
.title {
    margin-bottom: 55px;
}
.text {

}
.join-title{
    margin-bottom: 34px;
}
.join-text{
    margin-bottom: 55px;
}
.email{
    
}



