*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #FFFDED;
}
.header{
    height: 158px;
    background-color: #4E3835;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #E6D5B9;
}
.container {
    padding: 50px 50px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-1 {
    width: 280px;
    height: 280px;
}
.img-2 {
    width: 280px;
    height: 186.41px;
}
.img-3 {
    width: 280px;
    height: 420px;
}
.block-1{
    padding: 29px 43px;
    display: flex;
    margin-bottom: 20px;
    border: 3px solid #4E3835;
    border-radius: 10px;
    width: 750px;
    height: 350px;
}
.block-2{
    padding: 29px 43px;
    display: flex;
    border: 3px solid #4E3835;
    border-radius: 10px;
    width: 750px;
    height: 355px;
}
.block-3{
    padding: 29px 43px;
    border: 3px solid #4E3835;
    border-radius: 10px;
    width: 367px;
    height: 736px;
}
.margin-top{
    margin-top: 39px;
}
.margin-left{
    margin-left: 50px;
}
.margin-right{
    margin-right: 50px;
}
.block-title{
    margin-bottom: 26px;
    display: block;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #4E3835;
    text-decoration: none;
}
.block-title:hover{
    text-decoration: underline;
}
.block-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4E3835;
}
.block-3 .block-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4E3835;
    text-align: center;
}




