*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #ffffff; 
}
.number{
    width: 60px;
    padding: 10px;
    font-size: 36px;
    text-align: center;
}
.button{
    padding: 10px 30px;
    font-size: 36px;
}